* {
	margin: 0;
	padding: 0;
}

body {
	background: url(/img/bkgfp3.jpg) repeat-x top left;
	background-repeat: no-repeat;
	background-color: #FFFFFF;
}

body, th, td, input, textarea {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #330000;
}

h1, h2, h3 {
	margin-top: 1.5em;
	color: #660000;
}

h1 {
	letter-spacing: -.075em;
	font-size: 3em;
}

h2 {
	letter-spacing: -0.05em;
	text-transform: uppercase;
	font-size: 1.1em;
	font-weight: bold;
	color: #333333;
}

h3 {
	font-size: 1em;
}

p, ul, ol {
	margin-top: 1.5em;
	line-height: 1.8em;
	font-size: 1.1em;
}

ul, ol {
	margin-left: 3em;
}

blockquote {
	margin-left: 3em;
	margin-right: 3em;
}

a {
	text-decoration: none;
	color: #000000;
	font-weight: bold;
}

a:hover {
	border: none;
	color: #CCCCCC;
	text-decoration: underline;
	font-weight: bold;
}

hr {
	display: none;
}

/* Page */

#page {
	width: 325px;
	margin: 0 auto;
	padding-top: 10px;
	border-top: none;
	margin-right: 10px;
	position: static;
	margin-left: 425px;
}

/* Content */

#content {
	float: left;
	width: 100px;
}

/* Footer */

#footer {
	height: 125px;
	padding-top: 5px;
	background-image: url(/img/bkg-light.jpg);
	background-repeat: repeat;
	background-color: #FFFFFF;
}

#footer p {
	text-align: center;
	text-transform: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
}

#footer a {
	color: #333333;
}
#footer hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #CC0000;
	text-decoration: underline;
}
.Headline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: capitalize;
	color: #FFFFFF;
	text-decoration: none;
}

.maintext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 18px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #FFFFFF;
	text-decoration: none;
	text-align: left;
}

.bold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: capitalize;
	color: #FFFFFF;
	text-decoration: none;
}

.subhead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
}
